:root {
    --header-color: blue
}

body {
    font-family: Arial, Verdana, "Source Code Pro", sans-serif;
    background-color: grey;
}

h1 {
    color: var(--header-color);
    font-style: italic;
    font-size: 20%;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: line-through;
    text-align: center;
}

nav>a {
    display: inline;
    margin-right: 20px;
    text-align: center;
    float: left;
}

blockquote {
        float: right;
        width: 275px;
        font-size: 130%;
        font-style: italic;
        font-family: Georgia, Times, serif;
        margin: 0px 0px 10px 10px;
        padding: 10px;
        border-top: 1px solid #665544;
        border-bottom: 1px solid #665544;}