/* Author: William Kpabitey */

body {
    background-image: url("../Image/back2.jpg");
    background-color: cadetblue;
    background-repeat: no-repeat;
}

#logo {
    float: left;
    color: white;
}

#menu {
    text-align: center;
    text-transform: uppercase;
    color: white;
}

#reset {
    width: 30%;
    margin: 300px auto 300px auto;
}

#email {
    border-radius: 50px;
    width: 350px;
    text-align: center;
    z-index: 10;
}

#reset-button {
    border-radius: 50px;
    width: auto;
    background-image: linear-gradient(red, yellow);
    animation-name: button;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes button {
    0% {
        background: cadetblue;
        left:0px; top:0px;
    }
    100% {
        background: aqua;
        left:0px; top:0px;
    }
}

footer {
    text-align: right;
    margin: 355px auto 10px auto;
    text-transform: uppercase;
    color: white;

}

@media screen and (max-width: 600px) {
    #reset-button {
    width: auto;
    z-index: 2;
    }

    #email {
    width: auto;
    text-align: center;
    z-index: 10;
}

}