/* Author: William Kpabitey */

body {
    background-color: cadetblue;
    background-repeat: no-repeat;
}


.menu {
    text-align: center;
    text-transform: capitalize;

}

.footer-menu {
    text-align: right;
    margin: 320px auto 10px auto;

}

.logo {
    float: left;
}


.email {
    border-radius: 50px;
    width: 30%;
}

.reset {
    margin: 300px auto auto auto;
    text-align: center;
}

